BA.AdminWeb/Service References/ProductService/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BA.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BA.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="StringId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
</xs:schema>