BA.AdminWeb/Service References/ProductService/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRM.ShopComponent.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRM.ShopComponent.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TelerikTest/WebServices/ProductService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BA.Core" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDto" nillable="true" type="tns:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BA.Core" base="q1:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Disabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="SellingPeriodId" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Sketch" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
  <xs:complexType name="ArrayOfSupplierDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierDto" nillable="true" type="tns:SupplierDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierDto" nillable="true" type="tns:ArrayOfSupplierDto" />
  <xs:complexType name="SupplierDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BA.Core" base="q2:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AllowBringWine" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowReserve" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowTakeOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactFax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DayEndTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DayStartTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NationId" type="xs:int" />
          <xs:element minOccurs="0" name="Rating" type="xs:decimal" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SupplierDto" nillable="true" type="tns:SupplierDto" />
</xs:schema>