BA.WebService.Silverlight/Service References/ProductService/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TelerikTest/WebServices/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRM.ShopComponent.Dto" />
  <xs:element name="RetrieveProductsBySupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveProductsBySupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRM.ShopComponent.Dto" minOccurs="0" name="RetrieveProductsBySupplierResult" nillable="true" type="q1:ArrayOfProductInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllSupplier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRM.ShopComponent.Dto" minOccurs="0" name="RetrieveAllSupplierResult" nillable="true" type="q2:ArrayOfSupplierInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>